In [2]:
import numpy as np
import pandas as pd
from datetime import datetime

## Location Filter

In [73]:
data = pd.read_csv('df_final_120_130.csv', low_memory=False)

data1 = data.drop(['Unnamed: 0','Unnamed: 0.1'],axis = 1)
data1 = data1.dropna()

In [74]:
data1[['lat','lng']] = data1[['lat','lng']].apply(pd.to_numeric, errors = 'coerce')
data_domestic =  data1[(data1["lat"] > -22.814515) & (data1["lat"]< -22.814147) & 
                       (data1.lng >-43.247567) & (data1.lng < -43.247118)]

In [75]:
df = data_domestic.reset_index(drop = True)

In [76]:
df.shape

(15733, 7)

*****

## Groupby Time Interval 30min

In [77]:
df["localtime"] = pd.to_datetime(df["localtime"])
df_temp = df.drop_duplicates(subset ="ClientMacAddr", 
                     keep = 'first', inplace = False)
df_count = df_temp.groupby(pd.Grouper(key='localtime', freq='30min')).count()

In [79]:
df_count.columns

Index(['Unnamed: 0.1.1', 'Building', 'Level', 'ClientMacAddr', 'lat', 'lng'], dtype='object')

In [80]:
df_discount = df_count.drop(['Building','Level','lat','lng','Unnamed: 0.1.1'],axis=1)
df_discount= df_discount.rename(columns = {'ClientMacAddr' : 'Distinct_Macid'})
df_discount

                     Distinct_Macid
localtime
2019-08-01 02:30:00              10
2019-08-01 03:00:00              50
2019-08-01 03:30:00             110
2019-08-01 04:00:00             119
2019-08-01 04:30:00             131
2019-08-01 05:00:00              98
2019-08-01 05:30:00             127
2019-08-01 06:00:00             188
2019-08-01 06:30:00             175
2019-08-01 07:00:00             182
2019-08-01 07:30:00             136
2019-08-01 08:00:00             132
2019-08-01 08:30:00             141
2019-08-01 09:00:00              84
2019-08-01 09:30:00             104
2019-08-01 10:00:00             119
2019-08-01 10:30:00             141
2019-08-01 11:00:00             142
2019-08-01 11:30:00             115
2019-08-01 12:00:00              67
2019-08-01 12:30:00              27

In [81]:
# df_discount_10_25to11_11
df_discount.to_csv('df_discount_08_01.csv')