In [1]:
import pandas as pd
from datetime import datetime 
import time

In [32]:
data = pd.read_csv('df_final_161_170.csv')
# data0 = pd.read_csv("tps2_180.csv")
# data1 = pd.read_csv("tps2_181.csv")
# data2 = pd.read_csv("tps2_182.csv")
# data3 = pd.read_csv("tps2_183.csv")
# data4 = pd.read_csv("tps2_184.csv")
# data5 = pd.read_csv("tps2_185.csv")

D:\anaconda\conda\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
# data =pd.concat([data0, data1, data2, data3, data4, data5],sort = False)

In [34]:
data

,Unnamed: 0,Unnamed: 0.1,Building,Level,ClientMacAddr,lat,lng,localtime
0,0,0,TPS2,Level 3,68:c4:4d:80:2e:45,-22.8134,-43.2475,2019-11-10 19:53:51.099
1,1,2,TPS2,Level 3,70:fd:46:8f:72:22,-22.8153,-43.2464,2019-11-10 19:53:51.511
2,2,6,TPS2,Level 3,f0:d7:aa:bb:36:6f,-22.814,-43.2472,2019-11-10 19:53:51.593
3,3,16,TPS2,Level 3,9c:f4:8e:4a:95:81,-22.8152,-43.2469,2019-11-10 19:53:52.413
4,4,18,TPS2,Level 3,98:39:8e:72:e5:d3,-22.8149,-43.2469,2019-11-10 19:53:52.414
...,...,...,...,...,...,...,...,...
7414755,794190,1757330,TPS2,Level 3,68:7d:6b:2d:22:c1,-22.8152,-43.2453,2019-11-11 23:29:46.201
7414756,794191,1757332,TPS2,Level 3,40:98:ad:51:3c:8c,-22.8146,-43.2473,2019-11-11 23:29:46.263
7414757,794192,1757334,TPS2,Level 3,9c:4f:da:6f:ca:90,-22.815,-43.2471,2019-11-11 23:29:46.316
7414758,794193,1757336,TPS2,Level 3,04:1b:6d:ad:d3:fe,-22.8151,-43.2456,2019-11-11 23:29:46.32
7414759,794194,1757337,TPS2,Level 3,04:1b:6d:ad:d3:fe,-22.8151,-43.2456,2019-11-11 23:29:46.321

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7414760 entries, 0 to 7414759
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   Unnamed: 0     int64
 1   Unnamed: 0.1   object
 2   Building       object
 3   Level          object
 4   ClientMacAddr  object
 5   lat            object
 6   lng            object
 7   localtime      object
dtypes: int64(1), object(7)
memory usage: 452.6+ MB

In [36]:
data1 = data.drop(['Unnamed: 0','Unnamed: 0.1'],axis = 1)

In [37]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7414760 entries, 0 to 7414759
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   Building       object
 1   Level          object
 2   ClientMacAddr  object
 3   lat            object
 4   lng            object
 5   localtime      object
dtypes: object(6)
memory usage: 339.4+ MB

In [38]:
data1 = data1.dropna()

In [39]:
data1.head()

,Building,Level,ClientMacAddr,lat,lng,localtime
0,TPS2,Level 3,68:c4:4d:80:2e:45,-22.8134,-43.2475,2019-11-10 19:53:51.099
1,TPS2,Level 3,70:fd:46:8f:72:22,-22.8153,-43.2464,2019-11-10 19:53:51.511
2,TPS2,Level 3,f0:d7:aa:bb:36:6f,-22.814,-43.2472,2019-11-10 19:53:51.593
3,TPS2,Level 3,9c:f4:8e:4a:95:81,-22.8152,-43.2469,2019-11-10 19:53:52.413
4,TPS2,Level 3,98:39:8e:72:e5:d3,-22.8149,-43.2469,2019-11-10 19:53:52.414

In [40]:
data1[['lat','lng']] = data1[['lat','lng']].apply(pd.to_numeric, errors = 'coerce')

In [150]:
# data_international = data[(data["lat"] >  -22.815522) & (data["lat"]< -22.815151) & (data.lng > -43.245908) & (data.lng < -43.245545)]

In [151]:
# data_international["datetime"] = pd.to_datetime(data_international["localtime"])

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [152]:
# data_international

,Unnamed: 0,Building,ClientMacAddr,Level,lat,lng,localtime,datetime
29,136,TPS2,10:b1:f8:0d:b7:0b,Level 3,-22.815210,-43.245629,2019-11-15 13:49:44.346,2019-11-15 13:49:44.346
82,456,TPS2,98:00:c6:5e:9e:3b,Level 3,-22.815161,-43.245731,2019-11-15 13:49:57.439,2019-11-15 13:49:57.439
115,590,TPS2,0c:cb:85:c3:db:17,Level 3,-22.815388,-43.245742,2019-11-15 13:50:00.458,2019-11-15 13:50:00.458
190,846,TPS2,bc:a5:8b:b1:43:f3,Level 3,-22.815282,-43.245723,2019-11-15 13:50:10.343,2019-11-15 13:50:10.343
192,850,TPS2,bc:a5:8b:b1:43:f3,Level 3,-22.815282,-43.245723,2019-11-15 13:50:10.344,2019-11-15 13:50:10.344
...,...,...,...,...,...,...,...,...
443334,1849721,TPS2,38:9a:f6:31:77:8d,Level 3,-22.815401,-43.245558,2019-11-21 09:32:47.858,2019-11-21 09:32:47.858
443335,1849722,TPS2,38:9a:f6:31:77:8d,Level 3,-22.815401,-43.245558,2019-11-21 09:32:47.859,2019-11-21 09:32:47.859
443345,1849785,TPS2,fc:64:3a:1f:2f:2a,Level 3,-22.815482,-43.245621,2019-11-21 09:32:51.38,2019-11-21 09:32:51.380
443410,1850100,TPS2,68:c4:4d:42:f5:fb,Level 3,-22.815359,-43.245628,2019-11-21 09:33:05.219,2019-11-21 09:33:05.219
443425,1850216,TPS2,fc:64:3a:1f:2f:2a,Level 3,-22.815354,-43.245594,2019-11-21 09:33:11.263,2019-11-21 09:33:11.263

In [52]:
data_domestic =  data1[(data1["lat"] > -22.814515) & (data1["lat"]< -22.814147) & (data1.lng >-43.247567) & (data1.lng < -43.247118)]

In [53]:
data_domestic["datetime"] = pd.to_datetime(data_domestic["localtime"])

D:\anaconda\conda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
data_domestic.ClientMacAddr.value_counts()

28:83:35:25:74:6d    1392
bc:e2:65:98:8e:df     768
5c:c9:d3:20:18:5a     736
0c:cb:85:3b:cb:46     672
a8:16:d0:c5:5d:11     648
                     ...
30:4b:07:c0:c9:25       1
f0:d7:aa:f2:67:ed       1
08:c5:e1:8e:45:a0       1
64:a5:c3:b0:20:4b       1
fc:42:03:8d:04:f9       1
Name: ClientMacAddr, Length: 36755, dtype: int64

In [57]:
data_domestic

,Building,Level,ClientMacAddr,lat,lng,localtime,datetime
79,TPS2,Level 3,20:32:6c:61:9f:86,-22.814209,-43.247272,2019-11-10 19:54:13.74,2019-11-10 19:54:13.740
202,TPS2,Level 3,20:32:6c:61:9f:86,-22.814159,-43.247406,2019-11-10 19:54:40.605,2019-11-10 19:54:40.605
212,TPS2,Level 3,64:c2:de:17:04:3a,-22.814211,-43.247217,2019-11-10 19:54:42.65,2019-11-10 19:54:42.650
225,TPS2,Level 3,7c:03:ab:8d:71:c9,-22.814342,-43.247437,2019-11-10 19:54:44.512,2019-11-10 19:54:44.512
227,TPS2,Level 3,08:c5:e1:ee:44:f4,-22.814475,-43.247208,2019-11-10 19:54:44.967,2019-11-10 19:54:44.967
...,...,...,...,...,...,...,...
7414592,TPS2,Level 3,c0:8c:71:33:71:74,-22.814270,-43.247348,2019-11-11 23:29:12.291,2019-11-11 23:29:12.291
7414628,TPS2,Level 3,f4:c2:48:08:80:29,-22.814427,-43.247273,2019-11-11 23:29:17.507,2019-11-11 23:29:17.507
7414676,TPS2,Level 3,28:6a:ba:d6:13:e9,-22.814211,-43.247170,2019-11-11 23:29:27.164,2019-11-11 23:29:27.164
7414693,TPS2,Level 3,a8:16:d0:9a:06:77,-22.814150,-43.247313,2019-11-11 23:29:31.108,2019-11-11 23:29:31.108
7414699,TPS2,Level 3,9c:2a:83:41:1b:9d,-22.814454,-43.247532,2019-11-11 23:29:33.177,2019-11-11 23:29:33.177

In [60]:
data_domestic = data_domestic.reset_index(drop = True)

In [61]:
data_domestic.columns

Index(['Building', 'Level', 'ClientMacAddr', 'lat', 'lng', 'localtime',
       'datetime'],
      dtype='object')

In [62]:
data_domestic.to_csv('data_domestic.csv')

In [154]:
# data_exp = data_international[(data_international.datetime > '2019-11-15 13:49:44.346000') & (data_international.datetime < '2019-11-15 18:49:44.346000') ]

In [159]:
# data_exp

,Unnamed: 0,Building,ClientMacAddr,Level,lat,lng,localtime,datetime
82,456,TPS2,98:00:c6:5e:9e:3b,Level 3,-22.815161,-43.245731,2019-11-15 13:49:57.439,2019-11-15 13:49:57.439
115,590,TPS2,0c:cb:85:c3:db:17,Level 3,-22.815388,-43.245742,2019-11-15 13:50:00.458,2019-11-15 13:50:00.458
190,846,TPS2,bc:a5:8b:b1:43:f3,Level 3,-22.815282,-43.245723,2019-11-15 13:50:10.343,2019-11-15 13:50:10.343
192,850,TPS2,bc:a5:8b:b1:43:f3,Level 3,-22.815282,-43.245723,2019-11-15 13:50:10.344,2019-11-15 13:50:10.344
211,922,TPS2,70:fd:46:a9:a1:a0,Level 3,-22.815279,-43.245828,2019-11-15 13:50:11.983,2019-11-15 13:50:11.983
...,...,...,...,...,...,...,...,...
125593,454760,TPS2,28:83:35:e4:5d:2b,Level 3,-22.815184,-43.245669,2019-11-15 18:49:20.921,2019-11-15 18:49:20.921
125609,454820,TPS2,a8:db:03:16:23:9e,Level 3,-22.815389,-43.245795,2019-11-15 18:49:24.038,2019-11-15 18:49:24.038
125638,454932,TPS2,7c:89:56:aa:a1:bc,Level 3,-22.815326,-43.245603,2019-11-15 18:49:27.67,2019-11-15 18:49:27.670
125639,454933,TPS2,7c:89:56:aa:a1:bc,Level 3,-22.815326,-43.245603,2019-11-15 18:49:27.671,2019-11-15 18:49:27.671
125661,455014,TPS2,b0:10:41:15:5c:80,Level 3,-22.815283,-43.245655,2019-11-15 18:49:30.546,2019-11-15 18:49:30.546

In [171]:
# data_exp.iloc[0,7]

Timestamp('2019-11-15 13:49:57.439000')

In [173]:
data_exp["waiting_time"] = data_exp["datetime"].max()-data_exp["datetime"].min()
data_exp

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,Building,ClientMacAddr,Level,lat,lng,localtime,datetime,waiting_time
82,456,TPS2,98:00:c6:5e:9e:3b,Level 3,-22.815161,-43.245731,2019-11-15 13:49:57.439,2019-11-15 13:49:57.439,04:59:33.107000
115,590,TPS2,0c:cb:85:c3:db:17,Level 3,-22.815388,-43.245742,2019-11-15 13:50:00.458,2019-11-15 13:50:00.458,04:59:33.107000
190,846,TPS2,bc:a5:8b:b1:43:f3,Level 3,-22.815282,-43.245723,2019-11-15 13:50:10.343,2019-11-15 13:50:10.343,04:59:33.107000
192,850,TPS2,bc:a5:8b:b1:43:f3,Level 3,-22.815282,-43.245723,2019-11-15 13:50:10.344,2019-11-15 13:50:10.344,04:59:33.107000
211,922,TPS2,70:fd:46:a9:a1:a0,Level 3,-22.815279,-43.245828,2019-11-15 13:50:11.983,2019-11-15 13:50:11.983,04:59:33.107000
...,...,...,...,...,...,...,...,...,...
125593,454760,TPS2,28:83:35:e4:5d:2b,Level 3,-22.815184,-43.245669,2019-11-15 18:49:20.921,2019-11-15 18:49:20.921,04:59:33.107000
125609,454820,TPS2,a8:db:03:16:23:9e,Level 3,-22.815389,-43.245795,2019-11-15 18:49:24.038,2019-11-15 18:49:24.038,04:59:33.107000
125638,454932,TPS2,7c:89:56:aa:a1:bc,Level 3,-22.815326,-43.245603,2019-11-15 18:49:27.67,2019-11-15 18:49:27.670,04:59:33.107000
125639,454933,TPS2,7c:89:56:aa:a1:bc,Level 3,-22.815326,-43.245603,2019-11-15 18:49:27.671,2019-11-15 18:49:27.671,04:59:33.107000
125661,455014,TPS2,b0:10:41:15:5c:80,Level 3,-22.815283,-43.245655,2019-11-15 18:49:30.546,2019-11-15 18:49:30.546,04:59:33.107000

In [174]:
for i in range(0,4053):
    data_temp = data_exp[data_exp.ClientMacAddr == data_exp.iloc[i,2]]
    data_exp.iloc[i,8] = data_temp["datetime"].max() - data_temp["datetime"].min()

//anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [186]:
data_international["waiting_time"] = data_international["datetime"].max()-data_international["datetime"].min()
data_international

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,Building,ClientMacAddr,Level,lat,lng,localtime,datetime,waiting_time
29,136,TPS2,10:b1:f8:0d:b7:0b,Level 3,-22.815210,-43.245629,2019-11-15 13:49:44.346,2019-11-15 13:49:44.346,13 days 23:19:51.284000
82,456,TPS2,98:00:c6:5e:9e:3b,Level 3,-22.815161,-43.245731,2019-11-15 13:49:57.439,2019-11-15 13:49:57.439,13 days 23:19:51.284000
115,590,TPS2,0c:cb:85:c3:db:17,Level 3,-22.815388,-43.245742,2019-11-15 13:50:00.458,2019-11-15 13:50:00.458,13 days 23:19:51.284000
190,846,TPS2,bc:a5:8b:b1:43:f3,Level 3,-22.815282,-43.245723,2019-11-15 13:50:10.343,2019-11-15 13:50:10.343,13 days 23:19:51.284000
192,850,TPS2,bc:a5:8b:b1:43:f3,Level 3,-22.815282,-43.245723,2019-11-15 13:50:10.344,2019-11-15 13:50:10.344,13 days 23:19:51.284000
...,...,...,...,...,...,...,...,...,...
443334,1849721,TPS2,38:9a:f6:31:77:8d,Level 3,-22.815401,-43.245558,2019-11-21 09:32:47.858,2019-11-21 09:32:47.858,13 days 23:19:51.284000
443335,1849722,TPS2,38:9a:f6:31:77:8d,Level 3,-22.815401,-43.245558,2019-11-21 09:32:47.859,2019-11-21 09:32:47.859,13 days 23:19:51.284000
443345,1849785,TPS2,fc:64:3a:1f:2f:2a,Level 3,-22.815482,-43.245621,2019-11-21 09:32:51.38,2019-11-21 09:32:51.380,13 days 23:19:51.284000
443410,1850100,TPS2,68:c4:4d:42:f5:fb,Level 3,-22.815359,-43.245628,2019-11-21 09:33:05.219,2019-11-21 09:33:05.219,13 days 23:19:51.284000
443425,1850216,TPS2,fc:64:3a:1f:2f:2a,Level 3,-22.815354,-43.245594,2019-11-21 09:33:11.263,2019-11-21 09:33:11.263,13 days 23:19:51.284000

In [187]:
for i in range(0,86720):
    data_temp = data_international[data_international.ClientMacAddr == data_international.iloc[i,2]]
    data_international.iloc[i,8] = data_temp["datetime"].max() - data_temp["datetime"].min()

In [45]:
data_domestic["waiting_time"] = data_domestic["datetime"].max()-data_domestic["datetime"].min()
data_domestic

D:\anaconda\conda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Building,Level,ClientMacAddr,lat,lng,localtime,datetime,waiting_time
79,TPS2,Level 3,20:32:6c:61:9f:86,-22.814209,-43.247272,2019-11-10 19:54:13.74,2019-11-10 19:54:13.740,17 days 06:36:15.226000
202,TPS2,Level 3,20:32:6c:61:9f:86,-22.814159,-43.247406,2019-11-10 19:54:40.605,2019-11-10 19:54:40.605,17 days 06:36:15.226000
212,TPS2,Level 3,64:c2:de:17:04:3a,-22.814211,-43.247217,2019-11-10 19:54:42.65,2019-11-10 19:54:42.650,17 days 06:36:15.226000
225,TPS2,Level 3,7c:03:ab:8d:71:c9,-22.814342,-43.247437,2019-11-10 19:54:44.512,2019-11-10 19:54:44.512,17 days 06:36:15.226000
227,TPS2,Level 3,08:c5:e1:ee:44:f4,-22.814475,-43.247208,2019-11-10 19:54:44.967,2019-11-10 19:54:44.967,17 days 06:36:15.226000
...,...,...,...,...,...,...,...,...
7414592,TPS2,Level 3,c0:8c:71:33:71:74,-22.814270,-43.247348,2019-11-11 23:29:12.291,2019-11-11 23:29:12.291,17 days 06:36:15.226000
7414628,TPS2,Level 3,f4:c2:48:08:80:29,-22.814427,-43.247273,2019-11-11 23:29:17.507,2019-11-11 23:29:17.507,17 days 06:36:15.226000
7414676,TPS2,Level 3,28:6a:ba:d6:13:e9,-22.814211,-43.247170,2019-11-11 23:29:27.164,2019-11-11 23:29:27.164,17 days 06:36:15.226000
7414693,TPS2,Level 3,a8:16:d0:9a:06:77,-22.814150,-43.247313,2019-11-11 23:29:31.108,2019-11-11 23:29:31.108,17 days 06:36:15.226000
7414699,TPS2,Level 3,9c:2a:83:41:1b:9d,-22.814454,-43.247532,2019-11-11 23:29:33.177,2019-11-11 23:29:33.177,17 days 06:36:15.226000

In [46]:
for i in range(0,119505):
    data_temp = data_domestic[data_domestic.ClientMacAddr == data_domestic.iloc[i,2]]
    data_domestic.iloc[i,8] = data_temp["datetime"].max() - data_temp["datetime"].min()

IndexError: single positional indexer is out-of-bounds

In [202]:
data_domestic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119505 entries, 23 to 443455
Data columns (total 9 columns):
Unnamed: 0       119505 non-null int64
Building         119505 non-null object
ClientMacAddr    119505 non-null object
Level            119505 non-null object
lat              119505 non-null float64
lng              119505 non-null float64
localtime        119505 non-null object
datetime         119505 non-null datetime64[ns]
waiting_time     119505 non-null timedelta64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(4), timedelta64[ns](1)
memory usage: 14.1+ MB

In [203]:
data_domestic

,Unnamed: 0,Building,ClientMacAddr,Level,lat,lng,localtime,datetime,waiting_time
23,110,TPS2,c0:8c:71:70:f4:85,Level 3,-22.814361,-43.247444,2019-11-15 13:49:43.505,2019-11-15 13:49:43.505,00:32:55.396000
27,126,TPS2,48:c7:96:88:7b:e9,Level 3,-22.814421,-43.247552,2019-11-15 13:49:43.889,2019-11-15 13:49:43.889,01:51:27.380000
35,170,TPS2,60:ab:67:93:af:30,Level 3,-22.814456,-43.247440,2019-11-15 13:49:45.595,2019-11-15 13:49:45.595,00:00:00
51,254,TPS2,10:f1:f2:9a:67:5e,Level 3,-22.814349,-43.247505,2019-11-15 13:49:49.168,2019-11-15 13:49:49.168,00:39:19.928000
59,302,TPS2,24:18:1d:c9:46:86,Level 3,-22.814215,-43.247342,2019-11-15 13:49:50.719,2019-11-15 13:49:50.719,04:28:26.458000
...,...,...,...,...,...,...,...,...,...
443306,1849583,TPS2,70:fd:46:78:82:9a,Level 3,-22.814505,-43.247494,2019-11-21 09:32:43.597,2019-11-21 09:32:43.597,00:36:13.802000
443436,1850288,TPS2,30:07:4d:a4:e3:20,Level 3,-22.814390,-43.247548,2019-11-21 09:33:15.108,2019-11-21 09:33:15.108,00:12:29.687000
443440,1850310,TPS2,aa:16:d0:c5:f0:65,Level 3,-22.814252,-43.247351,2019-11-21 09:33:15.598,2019-11-21 09:33:15.598,01:39:00.813000
443441,1850311,TPS2,aa:16:d0:c5:f0:65,Level 3,-22.814252,-43.247351,2019-11-21 09:33:15.603,2019-11-21 09:33:15.603,01:39:00.813000
443455,1850386,TPS2,98:ca:33:dd:33:91,Level 3,-22.814172,-43.247504,2019-11-21 09:33:19.248,2019-11-21 09:33:19.248,01:30:05.038000

In [204]:
data_domestic["waiting_time"]=data_domestic["waiting_time"].dt.total_seconds()
data_domestic["waiting_time"]=data_domestic["waiting_time"]/60
data_domestic.to_csv("domestic_TPS2.csv")

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [205]:
data_domestic

,Unnamed: 0,Building,ClientMacAddr,Level,lat,lng,localtime,datetime,waiting_time
23,110,TPS2,c0:8c:71:70:f4:85,Level 3,-22.814361,-43.247444,2019-11-15 13:49:43.505,2019-11-15 13:49:43.505,32.923267
27,126,TPS2,48:c7:96:88:7b:e9,Level 3,-22.814421,-43.247552,2019-11-15 13:49:43.889,2019-11-15 13:49:43.889,111.456333
35,170,TPS2,60:ab:67:93:af:30,Level 3,-22.814456,-43.247440,2019-11-15 13:49:45.595,2019-11-15 13:49:45.595,0.000000
51,254,TPS2,10:f1:f2:9a:67:5e,Level 3,-22.814349,-43.247505,2019-11-15 13:49:49.168,2019-11-15 13:49:49.168,39.332133
59,302,TPS2,24:18:1d:c9:46:86,Level 3,-22.814215,-43.247342,2019-11-15 13:49:50.719,2019-11-15 13:49:50.719,268.440967
...,...,...,...,...,...,...,...,...,...
443306,1849583,TPS2,70:fd:46:78:82:9a,Level 3,-22.814505,-43.247494,2019-11-21 09:32:43.597,2019-11-21 09:32:43.597,36.230033
443436,1850288,TPS2,30:07:4d:a4:e3:20,Level 3,-22.814390,-43.247548,2019-11-21 09:33:15.108,2019-11-21 09:33:15.108,12.494783
443440,1850310,TPS2,aa:16:d0:c5:f0:65,Level 3,-22.814252,-43.247351,2019-11-21 09:33:15.598,2019-11-21 09:33:15.598,99.013550
443441,1850311,TPS2,aa:16:d0:c5:f0:65,Level 3,-22.814252,-43.247351,2019-11-21 09:33:15.603,2019-11-21 09:33:15.603,99.013550
443455,1850386,TPS2,98:ca:33:dd:33:91,Level 3,-22.814172,-43.247504,2019-11-21 09:33:19.248,2019-11-21 09:33:19.248,90.083967

In [191]:
data_international["waiting_time"]=data_international["waiting_time"].dt.total_seconds()

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [192]:
data_international["waiting_time"]=data_international["waiting_time"]/60

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [193]:
data_international

,Unnamed: 0,Building,ClientMacAddr,Level,lat,lng,localtime,datetime,waiting_time
29,136,TPS2,10:b1:f8:0d:b7:0b,Level 3,-22.815210,-43.245629,2019-11-15 13:49:44.346,2019-11-15 13:49:44.346,18.632200
82,456,TPS2,98:00:c6:5e:9e:3b,Level 3,-22.815161,-43.245731,2019-11-15 13:49:57.439,2019-11-15 13:49:57.439,2.091767
115,590,TPS2,0c:cb:85:c3:db:17,Level 3,-22.815388,-43.245742,2019-11-15 13:50:00.458,2019-11-15 13:50:00.458,46.295000
190,846,TPS2,bc:a5:8b:b1:43:f3,Level 3,-22.815282,-43.245723,2019-11-15 13:50:10.343,2019-11-15 13:50:10.343,7.339567
192,850,TPS2,bc:a5:8b:b1:43:f3,Level 3,-22.815282,-43.245723,2019-11-15 13:50:10.344,2019-11-15 13:50:10.344,7.339567
...,...,...,...,...,...,...,...,...,...
443334,1849721,TPS2,38:9a:f6:31:77:8d,Level 3,-22.815401,-43.245558,2019-11-21 09:32:47.858,2019-11-21 09:32:47.858,2.992350
443335,1849722,TPS2,38:9a:f6:31:77:8d,Level 3,-22.815401,-43.245558,2019-11-21 09:32:47.859,2019-11-21 09:32:47.859,2.992350
443345,1849785,TPS2,fc:64:3a:1f:2f:2a,Level 3,-22.815482,-43.245621,2019-11-21 09:32:51.38,2019-11-21 09:32:51.380,40.547300
443410,1850100,TPS2,68:c4:4d:42:f5:fb,Level 3,-22.815359,-43.245628,2019-11-21 09:33:05.219,2019-11-21 09:33:05.219,29.635500
443425,1850216,TPS2,fc:64:3a:1f:2f:2a,Level 3,-22.815354,-43.245594,2019-11-21 09:33:11.263,2019-11-21 09:33:11.263,40.547300

In [194]:
data_international.to_csv("international_TPS2.csv")

In [144]:
data_exp[data_exp.datetime == '2019-11-29 13:09:35.630000']

,Unnamed: 0,Building,ClientMacAddr,Level,lat,lng,localtime,datetime
347415,1481750,TPS2,d4:c9:4b:57:4e:de,Level 3,-22.815321,-43.245853,2019-11-29 13:09:35.63,2019-11-29 13:09:35.630

In [56]:
data5 = pd.read_csv("rio05.csv")

In [57]:
data555 = data5[(data5["lat"] > -22.811060900) & (data5["lat"]< -22.810949671) & (data5.lng >-43.2522959488) & (data5.lng <-43.2522223556)]

In [58]:
data555

,Building,Level,ClientMacAddr,lat,lng,localtime
16150,TPS1,Level 3,ac:5f:3e:96:28:e5,-22.811027,-43.252232,2019-08-27 12:49:19.786 UTC
16151,TPS1,Level 3,ac:5f:3e:96:28:e5,-22.811027,-43.252232,2019-08-27 12:49:19.786 UTC
17912,TPS1,Level 3,60:1d:91:e7:4a:a0,-22.810975,-43.252227,2019-08-27 13:59:23.5 UTC
17913,TPS1,Level 3,60:1d:91:e7:4a:a0,-22.810975,-43.252227,2019-08-27 13:59:23.5 UTC
41184,TPS1,Level 3,7a:b4:7b:da:cc:74,-22.811008,-43.252222,2019-08-28 05:33:52.225 UTC
...,...,...,...,...,...,...
555902,TPS1,Level 3,30:4b:07:0f:ec:3d,-22.810981,-43.252225,2019-09-16 17:37:01.659 UTC
558014,TPS1,Level 3,80:82:23:49:1b:44,-22.810955,-43.252228,2019-09-16 23:02:37.134 UTC
558015,TPS1,Level 3,80:82:23:49:1b:44,-22.810955,-43.252228,2019-09-16 23:02:37.135 UTC
563481,TPS1,Level 3,38:9a:f6:26:9d:fb,-22.810959,-43.252252,2019-09-17 05:55:53.595 UTC
563488,TPS1,Level 3,38:9a:f6:26:9d:fb,-22.810969,-43.252238,2019-09-17 05:56:10.879 UTC

In [60]:
data55 =  data5[(data5["lat"] > -22.811457270) & (data5["lat"]< -22.811349129) & (data5.lng >-43.252007459) & (data5.lng < -43.251896223)]

In [61]:
data55

,Building,Level,ClientMacAddr,lat,lng,localtime
9186,TPS1,Level 3,d0:a6:37:8d:ad:2f,-22.811457,-43.251906,2019-08-27 09:20:12.926 UTC
9187,TPS1,Level 3,d0:a6:37:8d:ad:2f,-22.811457,-43.251906,2019-08-27 09:20:12.926 UTC
16570,TPS1,Level 3,38:80:df:6f:39:e3,-22.811356,-43.251916,2019-08-27 13:04:07.957 UTC
16571,TPS1,Level 3,38:80:df:6f:39:e3,-22.811356,-43.251916,2019-08-27 13:04:07.957 UTC
42778,TPS1,Level 3,48:49:c7:c8:8f:ee,-22.811371,-43.251972,2019-08-28 07:49:10.012 UTC
...,...,...,...,...,...,...
549872,TPS1,Level 3,a8:96:75:ce:65:96,-22.811368,-43.251944,2019-09-16 00:47:04.372 UTC
549873,TPS1,Level 3,a8:96:75:ce:65:96,-22.811368,-43.251944,2019-09-16 00:47:04.372 UTC
555364,TPS1,Level 3,40:b0:76:82:80:07,-22.811369,-43.251919,2019-09-16 15:48:54.337 UTC
562035,TPS1,Level 3,10:98:c3:13:61:35,-22.811423,-43.251915,2019-09-17 04:52:48.476 UTC
566447,TPS1,Level 3,34:bb:26:af:f2:e8,-22.811395,-43.251911,2019-09-17 08:22:51.419 UTC

In [62]:
domestics = pd.concat([data44,data55])

In [63]:
domestics

,Building,Level,ClientMacAddr,lat,lng,localtime
1361520,TPS1,Level 3,48:60:5f:72:22:df,-22.811380,-43.251905,2019-08-01 04:34:56.245 UTC
1361521,TPS1,Level 3,48:60:5f:72:22:df,-22.811380,-43.251905,2019-08-01 04:34:56.245 UTC
1364686,TPS1,Level 3,48:49:c7:cf:39:d4,-22.811387,-43.251929,2019-08-01 05:30:14.337 UTC
1364687,TPS1,Level 3,48:49:c7:cf:39:d4,-22.811387,-43.251929,2019-08-01 05:30:14.337 UTC
1369982,TPS1,Level 3,30:cb:f8:96:0d:7e,-22.811405,-43.251908,2019-08-01 06:35:14.109 UTC
...,...,...,...,...,...,...
549872,TPS1,Level 3,a8:96:75:ce:65:96,-22.811368,-43.251944,2019-09-16 00:47:04.372 UTC
549873,TPS1,Level 3,a8:96:75:ce:65:96,-22.811368,-43.251944,2019-09-16 00:47:04.372 UTC
555364,TPS1,Level 3,40:b0:76:82:80:07,-22.811369,-43.251919,2019-09-16 15:48:54.337 UTC
562035,TPS1,Level 3,10:98:c3:13:61:35,-22.811423,-43.251915,2019-09-17 04:52:48.476 UTC
566447,TPS1,Level 3,34:bb:26:af:f2:e8,-22.811395,-43.251911,2019-09-17 08:22:51.419 UTC

In [64]:
international = pd.concat([data444, data555])

In [65]:
international

,Building,Level,ClientMacAddr,lat,lng,localtime
1359456,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810985,-43.252243,2019-08-01 04:05:03.337 UTC
1359457,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810985,-43.252243,2019-08-01 04:05:03.337 UTC
1362572,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810975,-43.252267,2019-08-01 04:55:50.47 UTC
1362573,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810975,-43.252267,2019-08-01 04:55:50.47 UTC
1364336,TPS1,Level 3,c0:bd:d1:f5:bb:c6,-22.810997,-43.252239,2019-08-01 05:25:11.375 UTC
...,...,...,...,...,...,...
555902,TPS1,Level 3,30:4b:07:0f:ec:3d,-22.810981,-43.252225,2019-09-16 17:37:01.659 UTC
558014,TPS1,Level 3,80:82:23:49:1b:44,-22.810955,-43.252228,2019-09-16 23:02:37.134 UTC
558015,TPS1,Level 3,80:82:23:49:1b:44,-22.810955,-43.252228,2019-09-16 23:02:37.135 UTC
563481,TPS1,Level 3,38:9a:f6:26:9d:fb,-22.810959,-43.252252,2019-09-17 05:55:53.595 UTC
563488,TPS1,Level 3,38:9a:f6:26:9d:fb,-22.810969,-43.252238,2019-09-17 05:56:10.879 UTC

In [70]:
domestics["datetime"] = pd.to_datetime(domestics["localtime"])

In [71]:
domestics

,Building,Level,ClientMacAddr,lat,lng,localtime,datetime
1361520,TPS1,Level 3,48:60:5f:72:22:df,-22.811380,-43.251905,2019-08-01 04:34:56.245 UTC,2019-08-01 04:34:56.245000+00:00
1361521,TPS1,Level 3,48:60:5f:72:22:df,-22.811380,-43.251905,2019-08-01 04:34:56.245 UTC,2019-08-01 04:34:56.245000+00:00
1364686,TPS1,Level 3,48:49:c7:cf:39:d4,-22.811387,-43.251929,2019-08-01 05:30:14.337 UTC,2019-08-01 05:30:14.337000+00:00
1364687,TPS1,Level 3,48:49:c7:cf:39:d4,-22.811387,-43.251929,2019-08-01 05:30:14.337 UTC,2019-08-01 05:30:14.337000+00:00
1369982,TPS1,Level 3,30:cb:f8:96:0d:7e,-22.811405,-43.251908,2019-08-01 06:35:14.109 UTC,2019-08-01 06:35:14.109000+00:00
...,...,...,...,...,...,...,...
549872,TPS1,Level 3,a8:96:75:ce:65:96,-22.811368,-43.251944,2019-09-16 00:47:04.372 UTC,2019-09-16 00:47:04.372000+00:00
549873,TPS1,Level 3,a8:96:75:ce:65:96,-22.811368,-43.251944,2019-09-16 00:47:04.372 UTC,2019-09-16 00:47:04.372000+00:00
555364,TPS1,Level 3,40:b0:76:82:80:07,-22.811369,-43.251919,2019-09-16 15:48:54.337 UTC,2019-09-16 15:48:54.337000+00:00
562035,TPS1,Level 3,10:98:c3:13:61:35,-22.811423,-43.251915,2019-09-17 04:52:48.476 UTC,2019-09-17 04:52:48.476000+00:00
566447,TPS1,Level 3,34:bb:26:af:f2:e8,-22.811395,-43.251911,2019-09-17 08:22:51.419 UTC,2019-09-17 08:22:51.419000+00:00

In [72]:
domestics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 994 entries, 1361520 to 566447
Data columns (total 7 columns):
Building         994 non-null object
Level            994 non-null object
ClientMacAddr    994 non-null object
lat              994 non-null float64
lng              994 non-null float64
localtime        994 non-null object
datetime         994 non-null datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(2), object(4)
memory usage: 62.1+ KB

In [73]:
domestics.to_csv("domestics.csv")

In [74]:
international["datetime"] = pd.to_datetime(international["localtime"])

In [75]:
international

,Building,Level,ClientMacAddr,lat,lng,localtime,datetime
1359456,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810985,-43.252243,2019-08-01 04:05:03.337 UTC,2019-08-01 04:05:03.337000+00:00
1359457,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810985,-43.252243,2019-08-01 04:05:03.337 UTC,2019-08-01 04:05:03.337000+00:00
1362572,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810975,-43.252267,2019-08-01 04:55:50.47 UTC,2019-08-01 04:55:50.470000+00:00
1362573,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810975,-43.252267,2019-08-01 04:55:50.47 UTC,2019-08-01 04:55:50.470000+00:00
1364336,TPS1,Level 3,c0:bd:d1:f5:bb:c6,-22.810997,-43.252239,2019-08-01 05:25:11.375 UTC,2019-08-01 05:25:11.375000+00:00
...,...,...,...,...,...,...,...
555902,TPS1,Level 3,30:4b:07:0f:ec:3d,-22.810981,-43.252225,2019-09-16 17:37:01.659 UTC,2019-09-16 17:37:01.659000+00:00
558014,TPS1,Level 3,80:82:23:49:1b:44,-22.810955,-43.252228,2019-09-16 23:02:37.134 UTC,2019-09-16 23:02:37.134000+00:00
558015,TPS1,Level 3,80:82:23:49:1b:44,-22.810955,-43.252228,2019-09-16 23:02:37.135 UTC,2019-09-16 23:02:37.135000+00:00
563481,TPS1,Level 3,38:9a:f6:26:9d:fb,-22.810959,-43.252252,2019-09-17 05:55:53.595 UTC,2019-09-17 05:55:53.595000+00:00
563488,TPS1,Level 3,38:9a:f6:26:9d:fb,-22.810969,-43.252238,2019-09-17 05:56:10.879 UTC,2019-09-17 05:56:10.879000+00:00

In [76]:
international.to_csv("international.csv")

In [77]:
data1 = pd.read_csv("rio01.csv")

In [78]:
data1

,Building,Level,ClientMacAddr,lat,lng,localtime
0,TPS1,Level 2,e0:37:bf:da:68:b0,-22.812075,-43.250576,2019-08-25 10:21:02.543 UTC
1,TPS1,Level 2,e0:37:bf:da:68:b0,-22.812075,-43.250576,2019-08-25 10:21:02.543 UTC
2,TPS1,Level 2,c8:3c:85:52:d0:83,-22.811972,-43.250098,2019-08-25 10:21:02.555 UTC
3,TPS1,Level 2,c8:3c:85:52:d0:83,-22.811972,-43.250098,2019-08-25 10:21:02.555 UTC
4,TPS1,Level 2,fc:64:3a:81:1a:3c,-22.811866,-43.251192,2019-08-25 10:21:02.565 UTC
...,...,...,...,...,...,...
2569844,TPS1,Level 2,ea:79:35:46:4a:64,-22.812101,-43.250800,2019-09-07 09:39:49.154 UTC
2569845,TPS1,Level 2,d4:63:c6:e9:df:14,-22.811746,-43.249913,2019-09-07 09:39:49.232 UTC
2569846,TPS1,Level 2,d4:63:c6:e9:df:14,-22.811746,-43.249913,2019-09-07 09:39:49.232 UTC
2569847,TPS1,Level 2,8c:f7:10:76:02:70,-22.811892,-43.251813,2019-09-07 09:39:49.909 UTC
2569848,TPS1,Level 2,8c:f7:10:76:02:70,-22.811892,-43.251813,2019-09-07 09:39:49.909 UTC

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [80]:
data111 = data1[(data1["lat"] > -22.811060900) & (data1["lat"]< -22.810949671) & (data1.lng >-43.2522959488) & (data1.lng <-43.2522223556)]

In [81]:
data111

Empty DataFrame
Columns: [Building, Level, ClientMacAddr, lat, lng, localtime]
Index: []

In [89]:
a = data4.ClientMacAddr.value_counts()

In [90]:
a[:50]

c0:25:e9:7e:d8:5c    249122
00:05:9e:97:19:b0    230333
c2:9f:db:97:5d:fe     96746
0a:18:d6:a9:64:7c     92131
28:80:23:32:16:16     82302
c0:25:e9:7e:d8:5e     81838
28:80:23:32:16:10     77912
28:80:23:32:16:12     76393
28:80:23:32:16:11     75843
3c:a8:2a:78:d7:54     64302
2a:a4:3c:4d:a2:0e     58082
9c:8c:6e:40:bc:56     53285
3c:a8:2a:78:d7:51     42265
3c:a8:2a:78:d7:55     38563
3c:a8:2a:78:d7:50     33948
00:21:29:69:9a:02     31059
c0:25:e9:7e:d8:5d     30942
00:18:39:87:10:99     20741
dc:35:f1:34:58:37     18766
24:da:9b:8a:99:58     14905
dc:bf:e9:d2:e2:f7     10486
c0:8c:71:7a:83:d6     10427
5c:af:06:34:6b:97     10327
38:9a:f6:3e:95:af       599
0c:9d:92:23:d0:ab       599
30:cb:f8:39:66:d7       599
38:9a:f6:85:ad:c9       590
50:92:b9:cf:e4:06       584
38:9a:f6:88:51:c1       579
98:39:8e:98:f4:9b       577
28:83:35:f8:10:d3       574
cc:61:e5:84:f7:82       574
a8:96:75:6e:87:d3       569
04:92:26:bb:e3:bd       566
cc:61:e5:aa:75:d7       565
a8:b8:6e:29:86:6f       563
b0:19:c6:ed:d9:e9       562
38:9a:f6:71:ae:81       561
28:83:35:d2:62:b7       553
c4:61:8b:88:8b:71       552
30:cb:f8:8d:8c:e4       551
04:d4:c4:9d:c4:2c       550
38:9a:f6:5d:5d:4f       550
38:9a:f6:9f:4b:9b       549
70:fd:46:03:83:c2       549
10:3b:59:c3:f7:ce       547
fc:64:3a:9f:8a:56       544
7c:8b:b5:cd:db:09       544
bc:e1:43:52:a6:a2       543
d0:04:01:94:1b:83       542
Name: ClientMacAddr, dtype: int64

In [206]:
data_test = pd.read_csv("domestic_TPS2.csv")

In [207]:
data_test

,Unnamed: 0,Unnamed: 0.1,Building,ClientMacAddr,Level,lat,lng,localtime,datetime,waiting_time
0,23,110,TPS2,c0:8c:71:70:f4:85,Level 3,-22.814361,-43.247444,2019-11-15 13:49:43.505,2019-11-15 13:49:43.505,32.923267
1,27,126,TPS2,48:c7:96:88:7b:e9,Level 3,-22.814421,-43.247552,2019-11-15 13:49:43.889,2019-11-15 13:49:43.889,111.456333
2,35,170,TPS2,60:ab:67:93:af:30,Level 3,-22.814456,-43.247440,2019-11-15 13:49:45.595,2019-11-15 13:49:45.595,0.000000
3,51,254,TPS2,10:f1:f2:9a:67:5e,Level 3,-22.814349,-43.247505,2019-11-15 13:49:49.168,2019-11-15 13:49:49.168,39.332133
4,59,302,TPS2,24:18:1d:c9:46:86,Level 3,-22.814215,-43.247342,2019-11-15 13:49:50.719,2019-11-15 13:49:50.719,268.440967
...,...,...,...,...,...,...,...,...,...,...
119500,443306,1849583,TPS2,70:fd:46:78:82:9a,Level 3,-22.814505,-43.247494,2019-11-21 09:32:43.597,2019-11-21 09:32:43.597,36.230033
119501,443436,1850288,TPS2,30:07:4d:a4:e3:20,Level 3,-22.814390,-43.247548,2019-11-21 09:33:15.108,2019-11-21 09:33:15.108,12.494783
119502,443440,1850310,TPS2,aa:16:d0:c5:f0:65,Level 3,-22.814252,-43.247351,2019-11-21 09:33:15.598,2019-11-21 09:33:15.598,99.013550
119503,443441,1850311,TPS2,aa:16:d0:c5:f0:65,Level 3,-22.814252,-43.247351,2019-11-21 09:33:15.603,2019-11-21 09:33:15.603,99.013550
119504,443455,1850386,TPS2,98:ca:33:dd:33:91,Level 3,-22.814172,-43.247504,2019-11-21 09:33:19.248,2019-11-21 09:33:19.248,90.083967

In [210]:
tps2_data = data_test.drop_duplicates(subset="ClientMacAddr", keep='first', inplace=False)

In [222]:
tps2_data

,Unnamed: 0,Unnamed: 0.1,Building,ClientMacAddr,Level,lat,lng,localtime,datetime,waiting_time
0,23,110,TPS2,c0:8c:71:70:f4:85,Level 3,-22.814361,-43.247444,2019-11-15 13:49:43.505,2019-11-15 13:49:43.505,32.923267
1,27,126,TPS2,48:c7:96:88:7b:e9,Level 3,-22.814421,-43.247552,2019-11-15 13:49:43.889,2019-11-15 13:49:43.889,111.456333
2,35,170,TPS2,60:ab:67:93:af:30,Level 3,-22.814456,-43.247440,2019-11-15 13:49:45.595,2019-11-15 13:49:45.595,0.000000
3,51,254,TPS2,10:f1:f2:9a:67:5e,Level 3,-22.814349,-43.247505,2019-11-15 13:49:49.168,2019-11-15 13:49:49.168,39.332133
4,59,302,TPS2,24:18:1d:c9:46:86,Level 3,-22.814215,-43.247342,2019-11-15 13:49:50.719,2019-11-15 13:49:50.719,268.440967
...,...,...,...,...,...,...,...,...,...,...
119422,439457,1830183,TPS2,30:07:4d:a4:e3:20,Level 3,-22.814168,-43.247545,2019-11-21 09:20:45.421,2019-11-21 09:20:45.421,12.494783
119427,439644,1831029,TPS2,70:fd:46:48:e7:e8,Level 3,-22.814411,-43.247559,2019-11-21 09:21:16.609,2019-11-21 09:21:16.609,0.000000
119451,440807,1836917,TPS2,fc:64:3a:be:81:be,Level 3,-22.814273,-43.247257,2019-11-21 09:24:53.641,2019-11-21 09:24:53.641,4.831983
119480,442135,1843347,TPS2,80:58:f8:46:2b:4d,Level 3,-22.814190,-43.247505,2019-11-21 09:28:49.659,2019-11-21 09:28:49.659,0.000133
119487,442620,1845985,TPS2,2c:59:8a:69:3a:6d,Level 3,-22.814350,-43.247419,2019-11-21 09:30:32.204,2019-11-21 09:30:32.204,0.000000

In [231]:
tps2_data_new = tps2_data[(tps2_data["waiting_time"] < 300)]

In [232]:
tps2_data_new

,Unnamed: 0,Unnamed: 0.1,Building,ClientMacAddr,Level,lat,lng,localtime,datetime,waiting_time
0,23,110,TPS2,c0:8c:71:70:f4:85,Level 3,-22.814361,-43.247444,2019-11-15 13:49:43.505,2019-11-15 13:49:43.505,32.923267
1,27,126,TPS2,48:c7:96:88:7b:e9,Level 3,-22.814421,-43.247552,2019-11-15 13:49:43.889,2019-11-15 13:49:43.889,111.456333
2,35,170,TPS2,60:ab:67:93:af:30,Level 3,-22.814456,-43.247440,2019-11-15 13:49:45.595,2019-11-15 13:49:45.595,0.000000
3,51,254,TPS2,10:f1:f2:9a:67:5e,Level 3,-22.814349,-43.247505,2019-11-15 13:49:49.168,2019-11-15 13:49:49.168,39.332133
4,59,302,TPS2,24:18:1d:c9:46:86,Level 3,-22.814215,-43.247342,2019-11-15 13:49:50.719,2019-11-15 13:49:50.719,268.440967
...,...,...,...,...,...,...,...,...,...,...
119422,439457,1830183,TPS2,30:07:4d:a4:e3:20,Level 3,-22.814168,-43.247545,2019-11-21 09:20:45.421,2019-11-21 09:20:45.421,12.494783
119427,439644,1831029,TPS2,70:fd:46:48:e7:e8,Level 3,-22.814411,-43.247559,2019-11-21 09:21:16.609,2019-11-21 09:21:16.609,0.000000
119451,440807,1836917,TPS2,fc:64:3a:be:81:be,Level 3,-22.814273,-43.247257,2019-11-21 09:24:53.641,2019-11-21 09:24:53.641,4.831983
119480,442135,1843347,TPS2,80:58:f8:46:2b:4d,Level 3,-22.814190,-43.247505,2019-11-21 09:28:49.659,2019-11-21 09:28:49.659,0.000133
119487,442620,1845985,TPS2,2c:59:8a:69:3a:6d,Level 3,-22.814350,-43.247419,2019-11-21 09:30:32.204,2019-11-21 09:30:32.204,0.000000

In [233]:
tps2_data_new.to_csv("domestic_TPS2_distinct.csv")