In [68]:
import pandas as pd
from datetime import datetime 
import time

In [3]:
data3 = pd.read_csv("rio03.csv")

In [4]:
data3[:10]

,Building,Level,ClientMacAddr,lat,lng,localtime
0,TPS1,Level 2,3c:a8:2a:78:d7:51,-22.812048,-43.251718,2019-10-12 02:39:53.402 UTC
1,TPS1,Level 2,c0:25:e9:7e:d8:5e,-22.811760,-43.250037,2019-10-12 02:39:54.354 UTC
2,TPS1,Level 2,00:05:9e:97:19:b0,-22.811858,-43.250107,2019-10-12 02:39:56.168 UTC
3,TPS1,Level 2,3c:a8:2a:78:d7:50,-22.812048,-43.251718,2019-10-12 02:39:59.318 UTC
4,TPS1,Level 2,c0:25:e9:7e:d8:5d,-22.811986,-43.250095,2019-10-12 02:39:59.323 UTC
5,TPS1,Level 2,3c:a8:2a:78:d7:54,-22.812047,-43.251722,2019-10-12 02:39:59.348 UTC
6,TPS1,Level 2,c0:25:e9:7e:d8:5c,-22.811992,-43.250105,2019-10-12 02:40:01.306 UTC
7,TPS1,Level 2,3c:a8:2a:78:d7:51,-22.812050,-43.251702,2019-10-12 02:40:03.384 UTC
8,TPS1,Level 2,3c:a8:2a:78:d7:55,-22.812047,-43.251722,2019-10-12 02:40:03.385 UTC
9,TPS1,Level 2,00:05:9e:97:19:b0,-22.811855,-43.250102,2019-10-12 02:40:06.13 UTC

In [8]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3324684 entries, 0 to 3324683
Data columns (total 6 columns):
Building         object
Level            object
ClientMacAddr    object
lat              float64
lng              float64
localtime        object
dtypes: float64(2), object(4)
memory usage: 152.2+ MB

In [38]:
data3[data3.lat.isnull()]

Empty DataFrame
Columns: [Building, Level, ClientMacAddr, lat, lng, localtime]
Index: []

In [44]:
data333 = data3[(data3["lat"] > -22.811060900) & (data3["lat"]< -22.810949671) & (data3.lng >-43.2522959488) & (data3.lng <-43.2522223556)]

In [45]:
data333

Empty DataFrame
Columns: [Building, Level, ClientMacAddr, lat, lng, localtime]
Index: []

In [46]:
data33 =  data3[(data3["lat"] > -22.811457270) & (data3["lat"]< -22.811349129) & (data3.lng >-43.252007459) & (data3.lng < -43.251896223)]

In [48]:
data33

Empty DataFrame
Columns: [Building, Level, ClientMacAddr, lat, lng, localtime]
Index: []

In [50]:
data4 = pd.read_csv("rio04.csv")

In [51]:
data444 = data4[(data4["lat"] > -22.811060900) & (data4["lat"]< -22.810949671) & (data4.lng >-43.2522959488) & (data4.lng <-43.2522223556)]

In [52]:
data444

,Building,Level,ClientMacAddr,lat,lng,localtime
1359456,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810985,-43.252243,2019-08-01 04:05:03.337 UTC
1359457,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810985,-43.252243,2019-08-01 04:05:03.337 UTC
1362572,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810975,-43.252267,2019-08-01 04:55:50.47 UTC
1362573,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810975,-43.252267,2019-08-01 04:55:50.47 UTC
1364336,TPS1,Level 3,c0:bd:d1:f5:bb:c6,-22.810997,-43.252239,2019-08-01 05:25:11.375 UTC
...,...,...,...,...,...,...
2868786,TPS1,Level 3,78:4b:87:c9:a6:2d,-22.810958,-43.252264,2019-08-26 01:55:48.219 UTC
2868787,TPS1,Level 3,78:4b:87:c9:a6:2d,-22.810958,-43.252264,2019-08-26 01:55:48.219 UTC
2869734,TPS1,Level 3,78:4b:87:c9:a6:2d,-22.810993,-43.252228,2019-08-26 02:22:54.114 UTC
2869735,TPS1,Level 3,78:4b:87:c9:a6:2d,-22.810993,-43.252228,2019-08-26 02:22:54.114 UTC
2872249,TPS1,Level 3,f0:d7:aa:53:c8:a7,-22.810985,-43.252246,2019-08-26 19:30:36.388 UTC

In [53]:
data44 =  data4[(data4["lat"] > -22.811457270) & (data4["lat"]< -22.811349129) & (data4.lng >-43.252007459) & (data4.lng < -43.251896223)]

In [54]:
data44

,Building,Level,ClientMacAddr,lat,lng,localtime
1361520,TPS1,Level 3,48:60:5f:72:22:df,-22.811380,-43.251905,2019-08-01 04:34:56.245 UTC
1361521,TPS1,Level 3,48:60:5f:72:22:df,-22.811380,-43.251905,2019-08-01 04:34:56.245 UTC
1364686,TPS1,Level 3,48:49:c7:cf:39:d4,-22.811387,-43.251929,2019-08-01 05:30:14.337 UTC
1364687,TPS1,Level 3,48:49:c7:cf:39:d4,-22.811387,-43.251929,2019-08-01 05:30:14.337 UTC
1369982,TPS1,Level 3,30:cb:f8:96:0d:7e,-22.811405,-43.251908,2019-08-01 06:35:14.109 UTC
...,...,...,...,...,...,...
2830447,TPS1,Level 3,a8:16:d0:10:95:af,-22.811381,-43.251958,2019-08-24 22:48:42.168 UTC
2842519,TPS1,Level 3,98:39:8e:b8:c7:79,-22.811358,-43.251913,2019-08-25 07:08:28.76 UTC
2842520,TPS1,Level 3,98:39:8e:b8:c7:79,-22.811358,-43.251913,2019-08-25 07:08:28.761 UTC
2849125,TPS1,Level 3,dc:a4:ca:94:51:dc,-22.811447,-43.251898,2019-08-25 10:23:34.881 UTC
2849126,TPS1,Level 3,dc:a4:ca:94:51:dc,-22.811447,-43.251898,2019-08-25 10:23:34.881 UTC

In [56]:
data5 = pd.read_csv("rio05.csv")

In [57]:
data555 = data5[(data5["lat"] > -22.811060900) & (data5["lat"]< -22.810949671) & (data5.lng >-43.2522959488) & (data5.lng <-43.2522223556)]

In [58]:
data555

,Building,Level,ClientMacAddr,lat,lng,localtime
16150,TPS1,Level 3,ac:5f:3e:96:28:e5,-22.811027,-43.252232,2019-08-27 12:49:19.786 UTC
16151,TPS1,Level 3,ac:5f:3e:96:28:e5,-22.811027,-43.252232,2019-08-27 12:49:19.786 UTC
17912,TPS1,Level 3,60:1d:91:e7:4a:a0,-22.810975,-43.252227,2019-08-27 13:59:23.5 UTC
17913,TPS1,Level 3,60:1d:91:e7:4a:a0,-22.810975,-43.252227,2019-08-27 13:59:23.5 UTC
41184,TPS1,Level 3,7a:b4:7b:da:cc:74,-22.811008,-43.252222,2019-08-28 05:33:52.225 UTC
...,...,...,...,...,...,...
555902,TPS1,Level 3,30:4b:07:0f:ec:3d,-22.810981,-43.252225,2019-09-16 17:37:01.659 UTC
558014,TPS1,Level 3,80:82:23:49:1b:44,-22.810955,-43.252228,2019-09-16 23:02:37.134 UTC
558015,TPS1,Level 3,80:82:23:49:1b:44,-22.810955,-43.252228,2019-09-16 23:02:37.135 UTC
563481,TPS1,Level 3,38:9a:f6:26:9d:fb,-22.810959,-43.252252,2019-09-17 05:55:53.595 UTC
563488,TPS1,Level 3,38:9a:f6:26:9d:fb,-22.810969,-43.252238,2019-09-17 05:56:10.879 UTC

In [60]:
data55 =  data5[(data5["lat"] > -22.811457270) & (data5["lat"]< -22.811349129) & (data5.lng >-43.252007459) & (data5.lng < -43.251896223)]

In [61]:
data55

,Building,Level,ClientMacAddr,lat,lng,localtime
9186,TPS1,Level 3,d0:a6:37:8d:ad:2f,-22.811457,-43.251906,2019-08-27 09:20:12.926 UTC
9187,TPS1,Level 3,d0:a6:37:8d:ad:2f,-22.811457,-43.251906,2019-08-27 09:20:12.926 UTC
16570,TPS1,Level 3,38:80:df:6f:39:e3,-22.811356,-43.251916,2019-08-27 13:04:07.957 UTC
16571,TPS1,Level 3,38:80:df:6f:39:e3,-22.811356,-43.251916,2019-08-27 13:04:07.957 UTC
42778,TPS1,Level 3,48:49:c7:c8:8f:ee,-22.811371,-43.251972,2019-08-28 07:49:10.012 UTC
...,...,...,...,...,...,...
549872,TPS1,Level 3,a8:96:75:ce:65:96,-22.811368,-43.251944,2019-09-16 00:47:04.372 UTC
549873,TPS1,Level 3,a8:96:75:ce:65:96,-22.811368,-43.251944,2019-09-16 00:47:04.372 UTC
555364,TPS1,Level 3,40:b0:76:82:80:07,-22.811369,-43.251919,2019-09-16 15:48:54.337 UTC
562035,TPS1,Level 3,10:98:c3:13:61:35,-22.811423,-43.251915,2019-09-17 04:52:48.476 UTC
566447,TPS1,Level 3,34:bb:26:af:f2:e8,-22.811395,-43.251911,2019-09-17 08:22:51.419 UTC

In [62]:
domestics = pd.concat([data44,data55])

In [63]:
domestics

,Building,Level,ClientMacAddr,lat,lng,localtime
1361520,TPS1,Level 3,48:60:5f:72:22:df,-22.811380,-43.251905,2019-08-01 04:34:56.245 UTC
1361521,TPS1,Level 3,48:60:5f:72:22:df,-22.811380,-43.251905,2019-08-01 04:34:56.245 UTC
1364686,TPS1,Level 3,48:49:c7:cf:39:d4,-22.811387,-43.251929,2019-08-01 05:30:14.337 UTC
1364687,TPS1,Level 3,48:49:c7:cf:39:d4,-22.811387,-43.251929,2019-08-01 05:30:14.337 UTC
1369982,TPS1,Level 3,30:cb:f8:96:0d:7e,-22.811405,-43.251908,2019-08-01 06:35:14.109 UTC
...,...,...,...,...,...,...
549872,TPS1,Level 3,a8:96:75:ce:65:96,-22.811368,-43.251944,2019-09-16 00:47:04.372 UTC
549873,TPS1,Level 3,a8:96:75:ce:65:96,-22.811368,-43.251944,2019-09-16 00:47:04.372 UTC
555364,TPS1,Level 3,40:b0:76:82:80:07,-22.811369,-43.251919,2019-09-16 15:48:54.337 UTC
562035,TPS1,Level 3,10:98:c3:13:61:35,-22.811423,-43.251915,2019-09-17 04:52:48.476 UTC
566447,TPS1,Level 3,34:bb:26:af:f2:e8,-22.811395,-43.251911,2019-09-17 08:22:51.419 UTC

In [64]:
international = pd.concat([data444, data555])

In [65]:
international

,Building,Level,ClientMacAddr,lat,lng,localtime
1359456,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810985,-43.252243,2019-08-01 04:05:03.337 UTC
1359457,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810985,-43.252243,2019-08-01 04:05:03.337 UTC
1362572,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810975,-43.252267,2019-08-01 04:55:50.47 UTC
1362573,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810975,-43.252267,2019-08-01 04:55:50.47 UTC
1364336,TPS1,Level 3,c0:bd:d1:f5:bb:c6,-22.810997,-43.252239,2019-08-01 05:25:11.375 UTC
...,...,...,...,...,...,...
555902,TPS1,Level 3,30:4b:07:0f:ec:3d,-22.810981,-43.252225,2019-09-16 17:37:01.659 UTC
558014,TPS1,Level 3,80:82:23:49:1b:44,-22.810955,-43.252228,2019-09-16 23:02:37.134 UTC
558015,TPS1,Level 3,80:82:23:49:1b:44,-22.810955,-43.252228,2019-09-16 23:02:37.135 UTC
563481,TPS1,Level 3,38:9a:f6:26:9d:fb,-22.810959,-43.252252,2019-09-17 05:55:53.595 UTC
563488,TPS1,Level 3,38:9a:f6:26:9d:fb,-22.810969,-43.252238,2019-09-17 05:56:10.879 UTC

In [70]:
domestics["datetime"] = pd.to_datetime(domestics["localtime"])

In [71]:
domestics

,Building,Level,ClientMacAddr,lat,lng,localtime,datetime
1361520,TPS1,Level 3,48:60:5f:72:22:df,-22.811380,-43.251905,2019-08-01 04:34:56.245 UTC,2019-08-01 04:34:56.245000+00:00
1361521,TPS1,Level 3,48:60:5f:72:22:df,-22.811380,-43.251905,2019-08-01 04:34:56.245 UTC,2019-08-01 04:34:56.245000+00:00
1364686,TPS1,Level 3,48:49:c7:cf:39:d4,-22.811387,-43.251929,2019-08-01 05:30:14.337 UTC,2019-08-01 05:30:14.337000+00:00
1364687,TPS1,Level 3,48:49:c7:cf:39:d4,-22.811387,-43.251929,2019-08-01 05:30:14.337 UTC,2019-08-01 05:30:14.337000+00:00
1369982,TPS1,Level 3,30:cb:f8:96:0d:7e,-22.811405,-43.251908,2019-08-01 06:35:14.109 UTC,2019-08-01 06:35:14.109000+00:00
...,...,...,...,...,...,...,...
549872,TPS1,Level 3,a8:96:75:ce:65:96,-22.811368,-43.251944,2019-09-16 00:47:04.372 UTC,2019-09-16 00:47:04.372000+00:00
549873,TPS1,Level 3,a8:96:75:ce:65:96,-22.811368,-43.251944,2019-09-16 00:47:04.372 UTC,2019-09-16 00:47:04.372000+00:00
555364,TPS1,Level 3,40:b0:76:82:80:07,-22.811369,-43.251919,2019-09-16 15:48:54.337 UTC,2019-09-16 15:48:54.337000+00:00
562035,TPS1,Level 3,10:98:c3:13:61:35,-22.811423,-43.251915,2019-09-17 04:52:48.476 UTC,2019-09-17 04:52:48.476000+00:00
566447,TPS1,Level 3,34:bb:26:af:f2:e8,-22.811395,-43.251911,2019-09-17 08:22:51.419 UTC,2019-09-17 08:22:51.419000+00:00

In [72]:
domestics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 994 entries, 1361520 to 566447
Data columns (total 7 columns):
Building         994 non-null object
Level            994 non-null object
ClientMacAddr    994 non-null object
lat              994 non-null float64
lng              994 non-null float64
localtime        994 non-null object
datetime         994 non-null datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(2), object(4)
memory usage: 62.1+ KB

In [73]:
domestics.to_csv("domestics.csv")

In [74]:
international["datetime"] = pd.to_datetime(international["localtime"])

In [75]:
international

,Building,Level,ClientMacAddr,lat,lng,localtime,datetime
1359456,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810985,-43.252243,2019-08-01 04:05:03.337 UTC,2019-08-01 04:05:03.337000+00:00
1359457,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810985,-43.252243,2019-08-01 04:05:03.337 UTC,2019-08-01 04:05:03.337000+00:00
1362572,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810975,-43.252267,2019-08-01 04:55:50.47 UTC,2019-08-01 04:55:50.470000+00:00
1362573,TPS1,Level 3,c2:9f:db:97:5d:fe,-22.810975,-43.252267,2019-08-01 04:55:50.47 UTC,2019-08-01 04:55:50.470000+00:00
1364336,TPS1,Level 3,c0:bd:d1:f5:bb:c6,-22.810997,-43.252239,2019-08-01 05:25:11.375 UTC,2019-08-01 05:25:11.375000+00:00
...,...,...,...,...,...,...,...
555902,TPS1,Level 3,30:4b:07:0f:ec:3d,-22.810981,-43.252225,2019-09-16 17:37:01.659 UTC,2019-09-16 17:37:01.659000+00:00
558014,TPS1,Level 3,80:82:23:49:1b:44,-22.810955,-43.252228,2019-09-16 23:02:37.134 UTC,2019-09-16 23:02:37.134000+00:00
558015,TPS1,Level 3,80:82:23:49:1b:44,-22.810955,-43.252228,2019-09-16 23:02:37.135 UTC,2019-09-16 23:02:37.135000+00:00
563481,TPS1,Level 3,38:9a:f6:26:9d:fb,-22.810959,-43.252252,2019-09-17 05:55:53.595 UTC,2019-09-17 05:55:53.595000+00:00
563488,TPS1,Level 3,38:9a:f6:26:9d:fb,-22.810969,-43.252238,2019-09-17 05:56:10.879 UTC,2019-09-17 05:56:10.879000+00:00

In [76]:
international.to_csv("international.csv")

In [77]:
data1 = pd.read_csv("rio01.csv")

In [78]:
data1

,Building,Level,ClientMacAddr,lat,lng,localtime
0,TPS1,Level 2,e0:37:bf:da:68:b0,-22.812075,-43.250576,2019-08-25 10:21:02.543 UTC
1,TPS1,Level 2,e0:37:bf:da:68:b0,-22.812075,-43.250576,2019-08-25 10:21:02.543 UTC
2,TPS1,Level 2,c8:3c:85:52:d0:83,-22.811972,-43.250098,2019-08-25 10:21:02.555 UTC
3,TPS1,Level 2,c8:3c:85:52:d0:83,-22.811972,-43.250098,2019-08-25 10:21:02.555 UTC
4,TPS1,Level 2,fc:64:3a:81:1a:3c,-22.811866,-43.251192,2019-08-25 10:21:02.565 UTC
...,...,...,...,...,...,...
2569844,TPS1,Level 2,ea:79:35:46:4a:64,-22.812101,-43.250800,2019-09-07 09:39:49.154 UTC
2569845,TPS1,Level 2,d4:63:c6:e9:df:14,-22.811746,-43.249913,2019-09-07 09:39:49.232 UTC
2569846,TPS1,Level 2,d4:63:c6:e9:df:14,-22.811746,-43.249913,2019-09-07 09:39:49.232 UTC
2569847,TPS1,Level 2,8c:f7:10:76:02:70,-22.811892,-43.251813,2019-09-07 09:39:49.909 UTC
2569848,TPS1,Level 2,8c:f7:10:76:02:70,-22.811892,-43.251813,2019-09-07 09:39:49.909 UTC

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [80]:
data111 = data1[(data1["lat"] > -22.811060900) & (data1["lat"]< -22.810949671) & (data1.lng >-43.2522959488) & (data1.lng <-43.2522223556)]

In [81]:
data111

Empty DataFrame
Columns: [Building, Level, ClientMacAddr, lat, lng, localtime]
Index: []

In [89]:
a = data4.ClientMacAddr.value_counts()

In [90]:
a[:50]

c0:25:e9:7e:d8:5c    249122
00:05:9e:97:19:b0    230333
c2:9f:db:97:5d:fe     96746
0a:18:d6:a9:64:7c     92131
28:80:23:32:16:16     82302
c0:25:e9:7e:d8:5e     81838
28:80:23:32:16:10     77912
28:80:23:32:16:12     76393
28:80:23:32:16:11     75843
3c:a8:2a:78:d7:54     64302
2a:a4:3c:4d:a2:0e     58082
9c:8c:6e:40:bc:56     53285
3c:a8:2a:78:d7:51     42265
3c:a8:2a:78:d7:55     38563
3c:a8:2a:78:d7:50     33948
00:21:29:69:9a:02     31059
c0:25:e9:7e:d8:5d     30942
00:18:39:87:10:99     20741
dc:35:f1:34:58:37     18766
24:da:9b:8a:99:58     14905
dc:bf:e9:d2:e2:f7     10486
c0:8c:71:7a:83:d6     10427
5c:af:06:34:6b:97     10327
38:9a:f6:3e:95:af       599
0c:9d:92:23:d0:ab       599
30:cb:f8:39:66:d7       599
38:9a:f6:85:ad:c9       590
50:92:b9:cf:e4:06       584
38:9a:f6:88:51:c1       579
98:39:8e:98:f4:9b       577
28:83:35:f8:10:d3       574
cc:61:e5:84:f7:82       574
a8:96:75:6e:87:d3       569
04:92:26:bb:e3:bd       566
cc:61:e5:aa:75:d7       565
a8:b8:6e:29:86:6f       563
b0:19:c6:ed:d9:e9       562
38:9a:f6:71:ae:81       561
28:83:35:d2:62:b7       553
c4:61:8b:88:8b:71       552
30:cb:f8:8d:8c:e4       551
04:d4:c4:9d:c4:2c       550
38:9a:f6:5d:5d:4f       550
38:9a:f6:9f:4b:9b       549
70:fd:46:03:83:c2       549
10:3b:59:c3:f7:ce       547
fc:64:3a:9f:8a:56       544
7c:8b:b5:cd:db:09       544
bc:e1:43:52:a6:a2       543
d0:04:01:94:1b:83       542
Name: ClientMacAddr, dtype: int64